a {
    color: black;
    font-family: Calibri, sans-serif;
    font-style: italic;
    text-decoration: none;
    text-transform: uppercase;
}
a:link{
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: black;
    background: whitesmoke;
    cursor: pointer;
    transform: scale(1.1);
    transition: all 500ms;
    box-shadow: 4px 4px 4px #ffffff;
    display: inline-block;
}

a:active {
    color: black;
}

.body{
    margin: 0;

}
/* main styling */
.head{
    position: fixed;
    height: 80px;
}
.sign{
    display: inline-block;
    text-align: right;
}

body{

    background: url(../images/bg-01.jpg) no-repeat center center fixed #000;
    position: relative;
    z-index: 999;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    transition-property: z-index ;
    transition-duration: 2s;

}
.home{
    right: 100px;
    border-radius: 300px;
    display: inline-block;
}
.home:hover{
    border-radius: 300px;
    cursor: pointer;
}
.name {
    font-style: italic;
    height: 120px;

}
.introduction{
    text-align: center;
    text-align: -moz-center;
    text-align: -webkit-center;
    font-size:3em;
    background: whitesmoke;
    opacity: 0.7;
}
.NEWS{
    text-align: center;
    text-align: -moz-center;
    text-align: -webkit-center;
    font-size:3em;
    background: whitesmoke;
    opacity: 0.7;
    margin-bottom: 1rem;
}

footer{
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    height: border-box;
    background:white;
    color: black;
    opacity: 0.7;
    text-align: center;
}